#carouselHeader {
    position: relative;
    display: -webkit-box;
    color: black;
    transition: 0.3s ease-in;
    height: 8vh;
    clear: both;
    color: white;
}

#carouselHeader div {
    zoom: 1;
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    letter-spacing: 1px;
    /* width: auto; */
    line-height: 10vh;
    font-size: 3.5vh;
    text-align: center;
    height: 100%;
    transform: none !important;
    /* hide images until carousel can handle them */
    cursor: pointer;
    /* otherwise it's not as obvious items can be clicked */
}

.carousel-center {
    display: block;
    text-align: center;
    top: -5px;
    letter-spacing: 1px;
    font-size: 3.8vh;
    visibility: visible;
    position: absolute;
    z-index: 8;
    opacity: 1;
}

.Home,
.Hosts,
.Menu,
.Showcase,
.Contact,
.Clients {
    /* margin-top: -2px; */
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 4vh;
}

#Hosts,
#Menu,
#Showcase,
#Clients,
#Contact {
    position: relative;
}